* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Code css disini */

.btn-login {
  background: linear-gradient(90deg, #0078BC 0.32%, #00B7F1 100.32%);
}
.text-header{
  color: #0A86DF;
}
.icon-header{
  width: 48px;
  height: 48px;
}